{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
  .heading{
  text-align: center;
  padding-bottom: 32px;
  color:#fff;
  font-size: 64px;}

  .title1{
    position: absolute;
    background:#333;
    color:#fff;
    text-align: center;
    padding-bottom: 15px;
    font-size: 32px;
    /* z-index:9999999;
    display:none; */
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left:45%;
  margin-top: 16px;
  margin-bottom:90px;
  display: inline-block;
  padding:13px 48px;
  font-size: 27px;
  border-radius: 8px;
  background: #555;
  color:#fff;
  cursor: pointer;
  font-weight: 500; 
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: red;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext2 {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: green;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
</style>
<script>
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
function myFunction0() {
  var popup = document.getElementById("myPopup0");
  popup.classList.toggle("show");
}
function myFunction1() {
  var popup = document.getElementById("myPopup1");
  popup.classList.toggle("show");
}
function myFunction2() {
  var popup = document.getElementById("myPopup2");
  popup.classList.toggle("show");
}
function myFunction3() {
  var popup = document.getElementById("myPopup3");
  popup.classList.toggle("show");
}
function myFunction4() {
  var popup = document.getElementById("myPopup4");
  popup.classList.toggle("show");
}
</script>
  <section class="home" id="home">
        <div class="content">
          <h3>THE <span>BEST EVENT ORGANIZER</span>! IS IN THE TOWN.</h3>
          <a href="#contact" class="btn">Contact Us</a>
        </div>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img src="../static/images/topPic.jpg" style="width: 100%" />
            <div class="text">Speaker Event</div>
          </div>

          <div class="mySlides fade">
            <img src="../static/images/topPic2.png" style="width: 100%" />
            <div class="text">Wedding</div>
          </div>

          <div class="mySlides fade">
            <img src="../static/images/topPic3.png" style="width: 100%" />
            <div class="text">Concert</div>
          </div>
        </div>

        <br>
          
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>


        <br />
      </section>

      <section class="service" id="service">
        <h1 class="heading">Our <span>Services</span></h1>
        <div class="box-container">
          <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Venue Selection</h3>
            <p>Select any place from over dozen different locations.</p>
          </div>

          <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>Invitation Card</h3>
            <p>Send invitation card through online means.</p>
          </div>

          <div class="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>Choose from dofferent online mediums.</p>
          </div>

          <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Food And Drinks</h3>
            <p>Order or pre-define the foods and drinks you want in the event.</p>
          </div>

          <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>Photos And Videos</h3>
            <p>Multiple photographers taking pictures of the event.</p>
          </div>

          <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>Custom Food</h3>
            <p>You can also bring you own foods as your preference.</p>
          </div>
        </div>
      </section>

      <section class="about" id="about">
        <h1 class="heading"><span>About</span> Us</h1>

        <div class="row">
          <div class="image">
            <img src="../static/images/aboutUs.jpg" alt="" />
          </div>

          <div class="content">
            <h3>We will give a very special celebration for you</h3>
            <p>
              Events create opportunities for people to connect with an area, spend time together,
              celebrate and experience the diversity of cultures and foster creativity and
              innovation. They allow a community to come alive and provide an opportunity for a
              destination to showcase its tourism experience and increase economic activity.
            </p>
            <a href="#contact" class="btn">Contact Us</a>
          </div>
        </div>
      </section>

      <section class="gallery" id="gallery">
        <h1 class="heading">Our <span>Gallery</span></h1>

        <div class="box-container">
          <div class="box">
            <img src="../static/images/gallery.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery0.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery1.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery2.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery3.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery4.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery5.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery6.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/gallery7.jpeg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>
        </div>
      </section>

      <section class="ongoing" id="ongoing">
        <h1 class="heading"><span>OnGoing</span> Events</h1>
        <div class="box-container0">
          {% for b in on %}
          <div class="box0">
            <img src="{{ b.img }}" alt="" />
            <div class="title0">
              {{ b.name }}
              <br>
              {{ b.address }}
              <br>
              {{ b.time }}
              <br>
              {{ b.descr }}
            </div>
          </div>

          {% endfor  %}
        </div>
          <a href="ongoing/" class="btn0">Add a Event</a>

      </section>
      <section class="price" id="price">
        <h1 class="heading">Our <span>Prices</span></h1>

        <div class="box-container">
          <div class="box">
            <h3 class="title">For Speaker Event</h3>
            <h3 class="amount">NRs 9,999</h3> 
            <ul>
              <li><i class="fas fa-check"></i></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <div class="popup" onclick="myFunction()">Book
              <span class="popuptext2" id="myPopup">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction()">Book
              <span class="popuptext" id="myPopup">Please Login to continue!!!</span>
            </div>
            {% endif %}
          </div>

          <div class="box">
            <h3 class="title">For Birthdays</h3>
            <h3 class="amount">NRs 19,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <!-- <h3>Hello {{ user }}</h3> -->
            <div class="popup" onclick="myFunction0()">Book
              <span class="popuptext2" id="myPopup0">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction0()">Book
              <span class="popuptext" id="myPopup0">Please Login to continue!!!</span>
            </div>
            {% endif %}
          </div>

          <div class="box">
            <h3 class="title">For Expos/ Trade Shows</h3>
            <h3 class="amount">NRs 29,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <!-- <h3>Hello {{ user }}</h3> -->
            <div class="popup" onclick="myFunction1()">Book
              <span class="popuptext2" id="myPopup1">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction1()">Book
              <span class="popuptext" id="myPopup1">Please Login to continue!!!</span>
            </div>
            {% endif %}
          </div>

          <div class="box">
            <h3 class="title">For Weddings</h3>
            <h3 class="amount">Nrs 49,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <!-- <h3>Hello {{ user }}</h3> -->
            <div class="popup" onclick="myFunction2()">Book
              <span class="popuptext2" id="myPopup2">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction2()">Book
              <span class="popuptext" id="myPopup2">Please Login to continue!!!</span>
            </div>
            {% endif %}
            </div>

          <div class="box">
            <h3 class="title">For Concerts</h3>
            <h3 class="amount">NRs 59,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <!-- <h3>Hello {{ user }}</h3> -->
            <div class="popup" onclick="myFunction3()">Book
              <span class="popuptext2" id="myPopup3">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction3()">Book
              <span class="popuptext" id="myPopup3">Please Login to continue!!!</span>
            </div>
            {% endif %}
          </div>

          <div class="box">
            <h3 class="title">For Others</h3>
            <h3 class="amount">Negotiable</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            {% if user.is_authenticated %}
            <!-- <h3>Hello {{ user }}</h3> -->
            <div class="popup" onclick="myFunction4()">Book
              <span class="popuptext2" id="myPopup4">Added to your library</span>
            </div>
            {% else %}
            <div class="popup" onclick="myFunction4()">Book
              <span class="popuptext" id="myPopup4">Please Login to continue!!!</span>
            </div>
            {% endif %}
          </div>
        </div>
      </section>

      <section class="reivew" id="review">
        <h1 class="heading">Client's <span>Reviews</span></h1>
            <div class="review-slider">

          <div class="swiper-wrapper swiper-container">
              <div class="slideshow-container" style="width:400px">
                {% for a in da %}
                  <div class="mySlides0 fade">
                  <div class="swiper-slide box">
                      <i class="fa fa-comment"></i>
                      <div class="user">  
                        <div class="user-info">
                          <h3>{{ a.user }}</h3>
                          <span>Good</span>
                        </div>
                      </div>
                      <p>
                        {{ a.description }}
                      </p>
                    </div>
                  </div>
                      {% endfor %}                  
                  <br>

                  <a class="prev" onclick="plusSlides(-1)">❮</a>
                  <a class="next" onclick="plusSlides(1)">❯</a>

                </div>

                  </div>
                  
                  <br>
          </div>
          {% if user.is_authenticated %}
          <!-- <h3>Hello {{ user }}</h3> -->
          <a class="btn0" href="review/">Add a Review</a>
          {% else %}
          <div class="popup" onclick="myFunction()">Add a Review
            <span class="popuptext" id="myPopup">Please Login to continue!!!</span>
          </div>
          {% endif %}

        </div>
      </section>

      <section class="contact" id="contact">
        <h1 class="heading"><span>Contact</span> Us</h1>

        <form action="" method="POST">
          {% csrf_token %}
          <div class="inputBox">
            <input name="name" type="text" placeholder="Name" />
            <input name="email" type="email" placeholder="Email" />
          </div>
          <div class="inputBox">
            <input name="number" type="number" placeholder="Number" />
            <input name="subject" type="text" placeholder="Subject" />
          </div>
          <textarea name="message" placeholder="Your Message"
            id="textAreaReview" cols="30" rows="10"></textarea>
          {% if user.is_authenticated %}
          <!-- <h3>Hello {{ user }}</h3> -->
          <input type="submit"  value="Send Message as {{ user }}" class="btn" />
          {% else %}
          <div class="popup" onclick="myFunction()">Send Message
            <span class="popuptext" id="myPopup">Please Login to continue!!!</span>
          </div>
          {% endif %}
        </form>
      </section>
{% endblock %}
