{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="home" id="home">
        <div class="content">
          <h3>THE <span>BEST EVENT ORGANIZER</span>! IS IN THE TOWN.</h3>
          <a href="#contact" class="btn">Contact Us</a>
        </div>
        <div class="slideshow-container">
          <div class="mySlides fade">
            <img src="../static/images/1.jpg" style="width: 100%" />
            <div class="text">Caption Text</div>
          </div>

          <div class="mySlides fade">
            <img src="../static/images/2.jpg" style="width: 100%" />
            <div class="text">Caption Two</div>
          </div>

          <div class="mySlides fade">
            <img src="../static/images/3.jpg" style="width: 100%" />
            <div class="text">Caption Three</div>
          </div>
        </div>

        <br>
          
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>


        <br />
      </section>

      <section class="service" id="service">
        <h1 class="heading">Our <span>Services</span></h1>

        <div class="box-container">
          <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Venue Selection</h3>
            <p>Select any place from over dozen different locations.</p>
          </div>

          <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>Invitation Card</h3>
            <p>Send invitation card through online means.</p>
          </div>

          <div class="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>Choose from dofferent online mediums.</p>
          </div>

          <div class="box">
            <i class="fas fa-utensils"></i>
            <h3>Food And Drinks</h3>
            <p>Order or pre-define the foods and drinks you want in the event.</p>
          </div>

          <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>Photos And Videos</h3>
            <p>Multiple photographers taking pictures of the event.</p>
          </div>

          <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>Custom Food</h3>
            <p>You can also bring you own foods as your preference.</p>
          </div>
        </div>
      </section>

      <section class="about" id="about">
        <h1 class="heading"><span>About</span> Us</h1>

        <div class="row">
          <div class="image">
            <img src="../static/images/1.jpg" alt="" />
          </div>

          <div class="content">
            <h3>We will give a very special celebration for you</h3>
            <p>
              Events create opportunities for people to connect with an area, spend time together,
              celebrate and experience the diversity of cultures and foster creativity and
              innovation. They allow a community to come alive and provide an opportunity for a
              destination to showcase its tourism experience and increase economic activity.
            </p>
            <a href="#" class="btn">Contact Us</a>
          </div>
        </div>
      </section>

      <section class="gallery" id="gallery">
        <h1 class="heading">Our <span>Gallery</span></h1>

        <div class="box-container">
          <div class="box">
            <img src="../static/images/2.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/3.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/4.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/5.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/6.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/7.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/8.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/9.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>

          <div class="box">
            <img src="../static/images/10.jpg" alt="" />
            <div class="icons">
              <a href="#" class="fas fa-heart"></a>
              <a href="#" class="fas fa-eye"></a>
            </div>
          </div>
        </div>
      </section>

      <section class="ongoing" id="ongoing">
        <h1 class="heading"><span>OnGoing</span> Events</h1>
        <!-- <div class="slideshow-container"> -->
        <div class="box-container0">

          <!-- <div class="mySlides0 fade"> -->
          <div class="box0">
            <img src="../static/images/2.jpg" alt="" />
            <div class="title0">
              Speaker event
            </div>
          </div>
        <!-- </div> -->

        <!-- <div class="mySlides0 fade"> -->
          <div class="box0">
            <img src="../static/images/3.jpg" alt="" />
            <div class="title0">
              Concert
            </div>
          </div>
        <!-- </div> -->

        <!-- <div class="mySlides0 fade"> -->
          <div class="box0">
            <img src="../static/images/4.jpg" alt="" />
            <div class="title0">
              Ted Talk
            </div>
          </div>
          </div>
          <a href="#" class="btn0">See All</a>
          <!-- </div> -->
          <!-- <br>
                  
          <a class="prev" onclick="plusSlides(-1)">❮</a>
          <a class="next" onclick="plusSlides(1)">❯</a> -->
        <!-- </div> -->
      </section>
      <section class="price" id="price">
        <h1 class="heading">Our <span>Prices</span></h1>

        <div class="box-container">
          <div class="box">
            <h3 class="title">For Speaker Event</h3>
            <h3 class="amount">NRs 9,999</h3>
            <ul>
              <li><i class="fas fa-check"></i></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>

          <div class="box">
            <h3 class="title">For Birthdays</h3>
            <h3 class="amount">NRs 19,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>

          <div class="box">
            <h3 class="title">For Expos/ Trade Shows</h3>
            <h3 class="amount">NRs 29,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>

          <div class="box">
            <h3 class="title">For Weddings</h3>
            <h3 class="amount">Nrs 49,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>

          <div class="box">
            <h3 class="title">For Concerts</h3>
            <h3 class="amount">NRs 59,999</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>

          <div class="box">
            <h3 class="title">For Others</h3>
            <h3 class="amount">Negotiable</h3>
            <ul>
              <li><i class="fas fa-check"></i>Full Services</li>
              <li><i class="fas fa-check"></i> Decorations</li>
              <li><i class="fas fa-check"></i> Music and Photos</li>
              <li><i class="fas fa-check"></i> Food and Drinks</li>
              <li><i class="fas fa-check"></i> Invitation Card</li>
            </ul>
            <a href="#" class="btn">Book</a>
          </div>
        </div>
      </section>

      <section class="reivew" id="review">
        <h1 class="heading">Client's <span>Reviews</span></h1>
        <!-- <input class="inputBox0" type="text" placeholder="Leave a Review" /> -->
        <textarea class="textArea"
        name=""
        placeholder="Leave a review"
        id=""
        cols="30"
        rows="10"
      ></textarea>
            <div class="review-slider">
          <!-- <btn class="btn0">Submit</btn> -->
          <!-- <input class="btn" type="submit" value="Submit" class="btn" /> -->
          <a href="#" class="btn0">Submit</a>


          <div class="swiper-wrapper swiper-container">
              <div class="slideshow-container">
                  <div class="mySlides0 fade">
                  <div class="swiper-slide box">
                      <i class="fa fa-comment"></i>
                      <div class="user">
                        <img src="../static/images/1.jpg" alt="" />
                        <div class="user-info">
                          <h3>Joey Rain</h3>
                          <span>Good</span>
                        </div>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                        dolor dicta. Eos beatae eligendi, magni numquam nemo sed ut
                        corrupti, ipsam iure nisi unde et assumenda perspiciatis
                        voluptatibus nihil.
                      </p>
                    </div>
                  </div>

                  <div class="mySlides0 fade">
                    <div class="swiper-slide box">
                      <i class="fa fa-comment"></i>
                      <div class="user">
                        <img src="../static/images/2.jpg" alt="" />
                        <div class="user-info">
                          <h3>Ram Khan</h3>
                          <span>Happy</span>
                        </div>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                        dolor dicta. Eos beatae eligendi, magni numquam nemo sed ut
                        corrupti, ipsam iure nisi unde et assumenda perspiciatis
                        voluptatibus nihil.
                      </p>
                    </div>
                  </div>

                  <div class="mySlides0 fade">
                  <div class="swiper-slide box">
                      <i class="fa fa-comment"></i>
                      <div class="user">
                        <img src="../static/images/3.jpg" alt="" />
                        <div class="user-info">
                          <h3>Pan Bing</h3>
                          <span>Average</span>
                        </div>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                        dolor dicta. Eos beatae eligendi, magni numquam nemo sed ut
                        corrupti, ipsam iure nisi unde et assumenda perspiciatis
                        voluptatibus nihil.
                      </p>
                    </div>
                  </div>

                  <div class="mySlides0 fade">
                      <div class="swiper-slide box">
                          <i class="fa fa-comment"></i>
                          <div class="user">
                            <img src="../static/images/3.jpg" alt="" />
                            <div class="user-info">
                              <h3>Pan Bing0</h3>
                              <span>Average</span>
                            </div>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
                            dolor dicta. Eos beatae eligendi, magni numquam nemo sed ut
                            corrupti, ipsam iure nisi unde et assumenda perspiciatis
                            voluptatibus nihil.
                          </p>
                        </div>
                      </div>
                  
                  
                  <br>
                  
                  <a class="prev" onclick="plusSlides(-1)">❮</a>
                  <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                  </div>
                  <br>
          </div>
        </div>
      </section>

      <section class="contact" id="contact">
        <h1 class="heading"><span>Contact</span> Us</h1>

        <form action="">
          <div class="inputBox">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
          </div>
          <div class="inputBox">
            <input type="number" placeholder="Number" />
            <input type="text" placeholder="Subject" />
          </div>
          <textarea
            name=""
            placeholder="Your Message"
            id=""
            cols="30"
            rows="10"
          ></textarea>
          <input type="submit" value="Send Message" class="btn" />
        </form>
      </section>
{% endblock %}
